{{ define "main" }}
  {{ $dateFormat := default "January 2, 2006" .Site.Params.BookDateFormat }}
  {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
  
<div align="center"><h1><b><i class="fa fa-tags"></i>文章清单</b></h1></div>

  {{ range sort .Paginator.Pages }}
  <article class="markdown">
    <div class="post-list-title">
      <i class="fa fa-tag"></i> <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    <div class="post-list-time">
      <i class="fa fa-pencil-square-o"></i> {{ .Date.Format $dateFormat }}
    </div>
    <p>
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </p>
  </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}

<div>&nbsp</div>
<div align="center">  
<h3>👨🏻‍💻 持续更新中...</h3>
</div>
<div>&nbsp</div>
{{ end }}

{{ define "toc" }}

{{ end }}


