

body {
	font-family: 'Roboto' 'Noto Sans SC' , sans-serif;
}

code {
	font-family: 'Oxygen Mono', monospace;
}

pre code {
  font-family: 'Oxygen Mono', monospace;
}

a {
  font-family: 'Roboto' 'Noto Sans SC', sans-serif;
}

td {
  font-family: 'B612', sans-serif;
  font-size: 14px;
}