@import 'variables';

.markdown {
  line-height: 1.6;
  max-width: 800px;


  h1, h2, h3, h4 {
    font-weight: 600;
    line-height: 1;
  }

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
  }

  b, optgroup, strong {
    font-weight: bold;
  }
  
  a {
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

.book-expand {
  max-width: 650px;
  }

.book-tabs {
  max-width: $max-low-width;
  }

  img {
    max-height: 600px;
    max-width: 99%;
  }

  code {
    padding: 0 $padding-4;
    background: #f3f3f3;
    border-radius: $border-radius;
    font-size: .92em;
  }

  pre {
    max-width: $max-low-width;
    padding: $padding-16;
    background: $gray-100;
    border-radius: $border-radius;
    overflow-x: auto;

    code {
      color: $gray-700;
      padding: 0;
      background: none;
    }
  }

  blockquote {
    line-height: 130%;
    max-width: $max-low-width;
    width:auto; 
    display:inline-block !important; 

    font-size: .9em;
    margin: $padding-16 0;
    padding: 8px;

    border-left: 8px solid $gray-200;
    border-radius: $border-radius;

    p {
      padding-left: 12px;
      padding-right: 10px;
      margin-block-start: 6px !important;
      margin-block-end: 6px !important;
    }

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }

  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $padding-16;
    margin-bottom: $padding-16;
    margin-left: 2px;

    a{
     code{
          font-family: 'B612', sans-serif;
      }
      font-family: 'B612', sans-serif;
      font-weight: 500 !important;
    }

    tr th, tr td {
      padding: $padding-8 $padding-16;
      line-height: 1.2;
      border: $padding-1 solid $gray-200;
    }

    tr:nth-child(2n) {
      background: $gray-100;
    }
  }

  hr {
    height: $padding-1;
    border: none;
    background: $gray-200;
  }

  ul, ol {
    padding-left: $padding-16 * 2;
  }

  dl {
    // padding-left: $padding-16;
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-left: $padding-16 * 2;
    }
  }
}
